Src/Cloud/ContosoInsurance.Logic/ContosoManualClaimProcessor.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "manual": {
        "inputs": {
          "schema": {
            "properties": {
              "approved": {
                "type": "bool"
              },
              "correlationId": {
                "type": "string"
              },
              "customerEmail": {
                "type": "string"
              },
              "customerName": {
                "type": "string"
              },
              "customerUserId": {
                "type": "string"
              },
              "damageAssessment": {
                "type": "string"
              },
              "id": {
                "type": "int"
              }
            },
            "required": [
              "id",
              "damageAssessment",
              "approved",
              "customerEmail",
              "customerName"
            ],
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    },
    "actions": {
      "CheckApprovedStatus": {
        "actions": {
          "PushManualApprovedNotification": {
            "inputs": {
              "body": {
                "CorrelationId": "@{triggerBody()['correlationId']}",
                "Properties": {
                  "ClaimId": "@{triggerBody()['id']}",
                  "Message": "The claim you recently submitted was manually approved."
                },
                "TagExpression": "_UserId:@{triggerBody()['customerUserId']}"
              },
              "function": {
                "id": "[concat(resourceId('Microsoft.Web/sites', variables('functionAppName')), '/functions/PushNotification')]"
              }
            },
            "runAfter": {
              "UpdateApproveStatus": [
                "Succeeded"
              ]
            },
            "type": "Function"
          },
          "SendManualApprovedEmail": {
            "inputs": {
              "body": {
                "Body": "<p>Hello @{triggerBody()['customerName']},</p>\n<p>The claim you recently submitted was manually approved. You can proceed to schedule repairs. If you have any questions, please contact your agent.</p>\n<p>Claim number: @{triggerBody()['id']}</p>\n\n\n",
                "Importance": "Normal",
                "IsHtml": true,
                "Subject": "Claim Approved",
                "To": "@{triggerBody()['customerEmail']}"
              },
              "host": {
                "api": {
                  "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/office365"
                },
                "connection": {
                  "name": "@parameters('$connections')['office365']['connectionId']"
                }
              },
              "method": "post",
              "path": "/Mail"
            },
            "runAfter": {
              "PushManualApprovedNotification": [
                "Succeeded"
              ]
            },
            "type": "ApiConnection"
          },
          "TrackCustomEvent_-_Claim_Manual_Approved_Email_sent": {
            "inputs": {
              "body": {
                "EventName": "Logic App Status",
                "Metrics": {
                  "Logic App": 0
                },
                "Properties": {
                  "CorrelationId": "@{triggerBody()?['correlationId']}",
                  "Description": "Manual Approval Email Sent to @{triggerBody()['customerEmail']}",
                  "Host": "To be determined",
                  "LogType": "Status Log",
                  "RunName": "@workflow()['run']['name']",
                  "id": "@{triggerBody()?['id']}"
                }
              },
              "function": {
                "id": "[concat(resourceId('Microsoft.Web/sites', variables('functionAppName')), '/functions/TrackCustomEvent')]"
              }
            },
            "runAfter": {
              "SendManualApprovedEmail": [
                "Succeeded"
              ]
            },
            "type": "Function"
          },
          "UpdateApproveStatus": {
            "inputs": {
              "body": {
                "CorrelationId": "@{body('GetCRMClaim')['CorrelationId']}",
                "DamageAssessment": "@{triggerBody()?['DamageAssessment']}",
                "DateTime": "@{body('GetCRMClaim')['DateTime']}",
                "DueDate": "@{body('GetCRMClaim')['DueDate']}",
                "OtherPartyId": "@body('GetCRMClaim')['OtherPartyId']",
                "Status": 3,
                "VehicleId": "@body('GetCRMClaim')['VehicleId']"
              },
              "host": {
                "api": {
                  "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/sql"
                },
                "connection": {
                  "name": "@parameters('$connections')['crmsql']['connectionId']"
                }
              },
              "method": "patch",
              "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[CRM].[Claims]'))}/items/@{encodeURIComponent(encodeURIComponent(body('GetCRMClaim')?['Id']))}"
            },
            "runAfter": {},
            "type": "ApiConnection"
          }
        },
        "else": {
          "actions": {
            "PushManualRejectedNotification": {
              "inputs": {
                "body": {
                  "CorrelationId": "@{triggerBody()['correlationId']}",
                  "Properties": {
                    "ClaimId": "@{triggerBody()['id']}",
                    "Message": "The claim you recently submitted was manually rejected."
                  },
                  "TagExpression": "_UserId:@{triggerBody()['customerUserId']}"
                },
                "function": {
                  "id": "[concat(resourceId('Microsoft.Web/sites', variables('functionAppName')), '/functions/PushNotification')]"
                }
              },
              "runAfter": {
                "UpdateRejectStatus": [
                  "Succeeded"
                ]
              },
              "type": "Function"
            },
            "SendManualRejectedEmail": {
              "inputs": {
                "body": {
                  "Body": "<p>Hello @{triggerBody()['customerName']},</p>\n<p>The claim you recently submitted was not approved by the claims adjuster. If you have any questions, please contact your agent.</p>\n<p>Claim number: @{triggerBody()['id']}</p>\n",
                  "Importance": "Normal",
                  "IsHtml": true,
                  "Subject": "Claim Rejected",
                  "To": "@{triggerBody()['customerEmail']}"
                },
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/office365"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Mail"
              },
              "runAfter": {
                "PushManualRejectedNotification": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "TrackCustomEvent_-_Claim_Manual_Reject_Email_sent": {
              "inputs": {
                "body": {
                  "EventName": "Logic App Status",
                  "Metrics": {
                    "Logic App": 0
                  },
                  "Properties": {
                    "CorrelationId": "@{triggerBody()?['correlationId']}",
                    "Description": "Manual Rejected Email Sent to @{triggerBody()['customerEmail']}",
                    "Host": "To be determined",
                    "LogType": "Status Log",
                    "RunName": "@workflow()['run']['name']",
                    "id": "@{triggerBody()?['id']}"
                  }
                },
                "function": {
                  "id": "[concat(resourceId('Microsoft.Web/sites', variables('functionAppName')), '/functions/TrackCustomEvent')]"
                }
              },
              "runAfter": {
                "SendManualRejectedEmail": [
                  "Succeeded"
                ]
              },
              "type": "Function"
            },
            "UpdateRejectStatus": {
              "inputs": {
                "body": {
                  "CorrelationId": "@{body('GetCRMClaim')['CorrelationId']}",
                  "DamageAssessment": "@{triggerBody()?['DamageAssessment']}",
                  "DateTime": "@{body('GetCRMClaim')['DateTime']}",
                  "DueDate": "@{body('GetCRMClaim')['DueDate']}",
                  "OtherPartyId": "@body('GetCRMClaim')['OtherPartyId']",
                  "Status": 4,
                  "VehicleId": "@body('GetCRMClaim')['VehicleId']"
                },
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/sql"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['crmsql']['connectionId']"
                  }
                },
                "method": "patch",
                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[CRM].[Claims]'))}/items/@{encodeURIComponent(encodeURIComponent(body('GetCRMClaim')?['Id']))}"
              },
              "runAfter": {},
              "type": "ApiConnection"
            }
          }
        },
        "expression": "@equals(triggerBody()?['approved'], true)",
        "runAfter": {
          "TrackCustomEvent_-_Get_CRM_Claim_Completed": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "GetCRMClaim": {
        "inputs": {
          "host": {
            "api": {
              "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/sql"
            },
            "connection": {
              "name": "@parameters('$connections')['crmsql']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[CRM].[Claims]'))}/items/@{triggerBody()?['id']}"
        },
        "runAfter": {
          "TrackCustomEvent_-_Manual_Claim_Processor_Started": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "Response": {
        "inputs": {
          "statusCode": 200
        },
        "runAfter": {
          "CheckApprovedStatus": [
            "Succeeded"
          ]
        },
        "type": "Response"
      },
      "TrackCustomEvent_-_Get_CRM_Claim_Completed": {
        "inputs": {
          "body": {
            "EventName": "Logic App Status",
            "Metrics": {
              "Logic App": 0
            },
            "Properties": {
              "CorrelationId": "@{triggerBody()?['correlationId']}",
              "Description": "Get CRM Claim Completed",
              "Host": "To be determined",
              "LogType": "Status Log",
              "RunName": "@workflow()['run']['name']",
              "id": "@{triggerBody()?['id']}"
            }
          },
          "function": {
            "id": "[concat(resourceId('Microsoft.Web/sites', variables('functionAppName')), '/functions/TrackCustomEvent')]"
          }
        },
        "runAfter": {
          "GetCRMClaim": [
            "Succeeded"
          ]
        },
        "type": "Function"
      },
      "TrackCustomEvent_-_Manual_Claim_Processor_Started": {
        "inputs": {
          "body": {
            "EventName": "Logic App Status",
            "Metrics": {
              "Logic App": 0
            },
            "Properties": {
              "CorrelationId": "@{triggerBody()?['correlationId']}",
              "Description": "ContosoManualClaimProcessor Logic App triggered by request",
              "Host": "To be determined",
              "LogType": "Status Log",
              "RunName": "@workflow()['run']['name']",
              "id": "@{triggerBody()?['id']}"
            }
          },
          "function": {
            "id": "[concat(resourceId('Microsoft.Web/sites', variables('functionAppName')), '/functions/TrackCustomEvent')]"
          }
        },
        "runAfter": {},
        "type": "Function"
      }
    }
  }
}